@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font-family: 'Lato', 'sans-serif';
}

#sect {
  border-bottom: 2px solid;
  display: relative;
  padding-bottom: 20px;
}

.about-tile {
  text-align: center;
  margin-bottom: 36px;
}

.about-tile img {
  margin: auto;
  width: 90%;
  display: block;
}

#about-jumbotron {
  background-color: #fffed1;
  border: 1px solid #e5e4bc;
}

#about-jumbotron a {
  color: #2c7cff;
}
