.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Board Nav CSS */
nav a.navbar-brand {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

/* Dashboard CSS */
div#new-board-form {
  border-radius: .3rem;
  padding: 24px;
  position: absolute;
  background: #fffbb8;
  width: 90%;
}

#new-board-form h5 {
  font-size: 1rem;
}

.close-button {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  background: 0;
}

#new-board-btn {
  cursor: pointer;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

#personal-boards .board-btn {
  color: white;
  text-transform: none;
  padding-top: 34px;
}

#personal-boards .dashboard-board-tools {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: .3rem;
  margin-bottom: -40px;
  background: #f5f5f5;
  border: 1px solid #bbb;
  border-top: none;
}

#personal-boards .dashboard-board-tools .tool-btn {
  position: relative;
  height: 100%;
  width: 21%;
  font-size: 1.2rem;
  border: 0;
  background: 0;
  margin: 0 2%;
  color: #333;
}

#personal-boards .dashboard-board-tools .tool-btn:hover {
  cursor: pointer;
  color: rgb(251, 209, 54);
}

#personal-boards .board-tile {
  margin-bottom: 4rem;
}
