.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Board CSS */
#board.container {
  max-width: none;
  width: 90%;
}

#board h3 {
  margin-left: 15px;
}

#board .card {
  margin-bottom:24px;
  border: 2px solid #529fff;
  cursor: pointer;
  background: #1d4483;
  color: white;
}

#board .card:hover {
  opacity: 0.9;
  border: 4px solid #529fff;
  margin-bottom: 20px;
}

#board .card-header {
  text-align: center;
  background-color: rgba(0,0,0,0);
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 24px;
}

#board p.card-title {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#board .board-column {
  background: #eee;
  border-radius: 0.25rem;
  border: 2px solid #ddd;
}


/* Dashboard CSS */
div#new-board-form {
  border-radius: .3rem;
  padding: 24px;
  position: absolute;
  background: #fffbb8;
  width: 90%;
}

.close-button {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  background: 0;
}
