/* Board CSS */
#board.container {
  max-width: none;
  width: 90%;
}

#board h3 {
  margin-left: 15px;
}

#board .card {
  background: #fafafa;
  border: 1px solid #bbb;
  color: #333;
  cursor: pointer;
  margin-bottom:24px;
  width: 100%;
}

#board .card:hover {
  border: 2px solid #529fff;
  margin-bottom: 22px;
  opacity: 0.9;
}

#board .card-header {
  background-color: rgba(0,0,0,0);
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 24px;
  text-align: center;
}

#board p.card-title {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#board .board-column {
  background: #eee;
  border: 2px solid #bbb;
  border-radius: 0.25rem;
}

#board .board-column .btn-group-vertical {
  width: 100%;
}

#board .board-column .card-body {
  padding: 0.5rem;
}

#new-card-form input#new-card-name {
  width: 80%;
}

#new-card-form button {
  cursor: pointer;
  width: 20%;
}
