@media all and (min-width: 480px) {
  .Login {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    padding-bottom: 50px;
  }

  #LoginFooter {
    display: block;
    position:absolute;
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

}
